
#navbarSupportedContent{
    justify-content: right;
}

.form-inline{ 
    display: flex;
    flex-direction: row;
}

.btn-search{
    margin-left: 5px;
}

.navbar {
    box-shadow: 0px 2px 5px grey;
}